 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h4 class="masthead-brand">Because we understand your needs..</h4>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/login">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">FIND THE RIGHT JOB FOR YOURSELF.</h1>
            <p class="lead">Apply to jobs that suit your needs.<br> Choose from over 5 lakh jobs while keeping your resume hidden from other recruiters.</p>
            <p class="lead">
              <a href="/register" class="btn btn-lg btn-default">Register now!</a>
            </p>
          </div>

        </div>

      </div>

    </div>